@import "tailwindcss";

::-webkit-scrollbar-track {
  background: rgb(241, 245, 249);
  border-radius: 10px;
}


pre::-webkit-scrollbar-corner {
  background: transparent !important;
}


::-webkit-scrollbar-thumb {
  background: rgb(100, 116, 139);
  border-radius: 10px;
  border: 2px solid rgb(241, 245, 249);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.dark ::-webkit-scrollbar-track {
  background: rgb(15, 22, 41);
}

.dark ::-webkit-scrollbar-thumb {
  background: rgb(29, 40, 58);
  border: 2px solid rgb(15, 23, 42);
}


@theme {
  --font-body: "Inter", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-heading: var(--font-heading), ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-mono: var(--font-mono), ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
}


@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-light-black: rgb(15, 23, 42);
  --color-light-darkgrey: rgb(100, 116, 139);
  --color-light-grey: rgb(226, 232, 240);
  --color-light-mediumgrey: rgb(241, 245, 249);
  --color-light-lightgrey: rgb(248, 250, 252);
  --color-light-white: rgb(255, 255, 255);
  --color-dark-black: rgb(2, 2, 5);
  --color-dark-lightblack: rgb(15, 22, 41);
  --color-dark-mediumblack: rgb(3, 7, 17);
  --color-dark-darkgrey: rgb(15, 23, 42);
  --color-dark-mediumgrey: rgb(29, 40, 58);
  --color-dark-grey: rgb(127, 142, 163);
  --color-dark-lightgrey: rgb(225, 231, 239);
  --color-dark-white: rgb(248, 250, 252);
  --color-dark-input-box: #1C2029;
  --color-dark-input-outline: #10141E;
  --breakpoint-xss: 340px;
}

@property --border-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@theme {

  --animate-rotate-border: border-rotate 3s linear infinite;

  @keyframes border-rotate {
    to {
      --border-angle: 360deg;
    }
  }
}